@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

* {
    font-family: "Jersey 15", sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: lighter;
    font-style: italic;
    color: white;
    letter-spacing: 8px;
    margin-bottom: 0;
}

body {
    background-color: #b5cee1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 0 0 0;
    min-width: 400px;
    min-height: 400px;
    max-width: 400px;
    max-height: 400px;
    box-shadow: 1px 5px 25px 0px #bdd7eb;
}

.pixel {
    width: 25px;
    height: 25px;
    background-color: white;
}



.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    max-height: 75px;
    min-width: 600px;
    min-height: 75px;
}   

input[type="range"]{
    -webkit-appearance: none;
    width: 400px;
    height: 50px;
    overflow: hidden;
    background-color: #d0e5f5;
}

input[type='range'].size::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    background: #99c1df;
    border-radius: 50%;
    margin-top: -4px;

}

input[type='range'].size::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 8px;
    background: white;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 5px 25px 0px #bdd7eb;
}
  
input[type='range'].size:focus {
    outline: none;
}

#output {
    font-size: 24px;
    max-width: 500px;
    max-height: 20px;
    min-width: 50px;
    min-height: 20px;
    font-weight: lighter;

}

#work-station {
    display: flex;
    flex: 1;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

#sketch {
    display: flex;
    flex-direction: row;
    padding: 32px;
}

#tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    display: none;
}

input[type="color"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    border-radius: 50%;
    background-color: black;
    width: 40px;
    height: 40px;

     transition: width 0.3s ease, height 0.3s ease;
}

input[type="color"]:hover {
    width: 45px;
    height: 45px;
}

.bi-pen-fill {
    color: white;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    pointer-events: none;
}

#color-sec {
    text-align: center;
    position: relative;
    display: inline-block;
}

.secondary-but {
    border: 2px solid #cbdce8;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease;
}
.secondary-but:hover {
    background-color: #cbdce8;
    width: 35px;
    height: 35px;
}
#toggle.active{
    background-color: #cbdce8;
} 

#box {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 5px 25px 0px #87cdda;
    padding-bottom: 20px ;
    background-color: #d0e5f5;
}

#color-sec {
    width: 45px;
    height: 45px;
}

#tools {
    display: flex;
    justify-content: center;
    width: 60px;
    height: 400px;
    padding: 4px;
}